<!DOCTYPE html>

<html>

<head>
<title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class = 'main-content'>
        {{>header}}
        <img class = 'portrait' src="/img/chica.jpg">
        <p>This app was created by Dean Williams using data from MapBox.com and darksky.net</p>
    </div>
 
    {{>footer}}
</body>
</html>